* {
	font-family:'Microsoft Yahei'
}
#login-form #login-content .suggest-container {
	width:246px;
	top:46px
}
#login-form #login-content .suggest-container .suggest-item a {
	padding:4px 6px;
	color:#4d4d4d
}
#login-form #login-content .fm-text {
	border-radius:3px;
	line-height:16px;
	padding:8px 5px;
	margin-top:5px;
	font-size:14px;
	background:transparent
}
#login-form #login-content .fm-text:focus {
	background-color:#e9fbfe;
	border-color:#69c5dd
}
#login-form #login-content #fm-login-checkcode-update {
	color:#00a2ca
}
#login-form #login-content .fm-field-wrap .fm-checkcode-update {
	margin-top:10px
}
#login-form #login-content .fm-checkcode-img {
	height:35px;
	width:83px;
	margin-top:7px;
	opacity:0.7
}
#login-form #login-content #fm-login-checkcode {
	min-width:80px
}
#login-form a:visited,#login-form a:link {
	color:#08c
}
.input-focus {
	border:1px solid #69C5DD
}
.fm-button {
	display:inline-block;
	min-width:140px;
	height:36px;
	padding:0 30px 1px;
	background:#e4162d;
	border:none;
	line-height:32px;
	font-size:14px;
	color:#fff;
	text-align:center;
	outline:none;
	cursor:pointer;
	border-radius:4px
}
.fm-button:hover {
	background:#e4162d;
	border-color:#e4162d;
	border:none
}
.fm-button:active {
	background:#e4162d;
	border-color:#e4162d
}
.icon-notice {
	background-color:#f1f6fa
}
.icon-error {
	background-color:#fff3e7
}
